* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  background-color: magenta;
  padding: 30px 20px;
  display: flex;
  flex-direction: row-reverse;
}

.pink-box {
  width: 140px;
  height: 70px;
  background-color: pink;
  margin: 0 10px;
}

header > :last-child {
  margin-right: auto;
}

main {
  margin: 0 auto;
}

.sidebar {
  width: 300px;
  background-color: greenyellow;
}

.green {
  max-width: 700px;
  flex-grow: 1;
  padding: 20px;
}

.yellow-box {
  flex-basis: 200px;
  height: 130px;
  background-color: yellow;
}